<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      id="favicon-link"
      href="https://c000.eagleeyenetworks.com/_images/favicon.ico"
    />
    <title>Eagle Eye Networks-bridge list report</title>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.6.4.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css"
    />

    <script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
    <script src="https://code.highcharts.com/dashboards/datagrid.js"></script>
    <script src="https://code.highcharts.com/dashboards/modules/layout.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
      @import url("https://code.highcharts.com/css/datagrid.css");
      @import url("https://code.highcharts.com/dashboards/css/dashboards.css");

      #csv {
        display: none;
      }

      #title h1 {
        text-align: center;
      }

      input[type="number"] {
        min-width: 50px;
      }

      #icon {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div id="icon">
      <img
        src="https://c000.eagleeyenetworks.com/_images/favicon.ico"
        alt="een logo"
      />
      <h3>Eagle Eye Networks</h3>
    </div>

    <div id="container"></div>

    <table
      id="sortableTable"
      class="cell-border compact stripe hover order-column"
    >
      <!-- Table data to be filled from CSV data by the Javascript code below -->
    </table>

    <pre id="csv">{%csvData%}</pre>

    <script type="text/javascript">
      // Return array of string values, or NULL if CSV string not well formed.
      function CSVtoArray(text) {
        var re_valid =
          /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
        var re_value =
          /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
        // Return NULL if input string is not well formed CSV string.
        if (!re_valid.test(text)) return null;
        var a = []; // Initialize array to receive values.
        text.replace(
          re_value, // "Walk" the string using replace with callback.
          function (m0, m1, m2, m3) {
            // Remove backslash from \' in single quoted values.
            if (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
            // Remove backslash from \" in double quoted values.
            else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
            else if (m3 !== undefined) a.push(m3);
            return ""; // Return empty string.
          }
        );
        // Handle special case of empty last value.
        if (/,\s*$/.test(text)) a.push("");
        return a;
      }

      $(document).ready(function () {
        // Extract and parse CSV data from <pre> tag
        var csvDataStr = $("#csv").text().trim().split("\n");
        var headers = csvDataStr[0].split(",");
        var data = [];
        for (var i = 1; i < csvDataStr.length; i++) {
          data.push(CSVtoArray(csvDataStr[i]));
        }

        // Initialize DataTable from parsed data
        $("#sortableTable").DataTable({
          data: data,
          columns: headers.map(function (header) {
            return { title: header };
          }),
          order: [[3, "asc"]],
          columnDefs: [
            {
              targets: 3,
              className: "dt-body-nowrap",
            },
          ],
        });
      });
    </script>

    <table id="table" class="display" style="width: 100%"></table>

    <script>
      const csvData = document.getElementById("csv").innerText;

      const lines = csvData.trim().split("\n");
      const bridges = [];
      for (let i = 1; i < lines.length; i++) {
        const element = lines[i].trim().split(", ");
        bridges.push(element.join(", "));
      }

      const camsPerBridge = {};
      if (bridges) {
        for (let index = 0; index < bridges?.length; index++) {
          const bridgeData = bridges?.[index].split(", ");
          camsPerBridge[bridgeData?.[0]] = bridgeData?.[8];
        }
      }

      const camerasPerBridge = {};
      for (const key in camsPerBridge) {
        if (camsPerBridge?.[key] !== undefined) {
          const newKey = key;
          const newValue = parseInt(camsPerBridge?.[key].replace(/"/g, ""), 10);
          camerasPerBridge[newKey] = newValue;
        }
      }

      const dataArray = Object.entries(camerasPerBridge);

      Dashboards.board(
        "container",
        {
          dataPool: {
            connectors: [
              {
                id: "Csv",
                type: "CSV",
                options: {
                  csv: csvData,
                },
              },
            ],
          },
          editMode: {
            enabled: true,
            contextMenu: {
              enabled: true,
              items: ["editMode"],
            },
          },
          gui: {
            layouts: [
              {
                rows: [
                  {
                    cells: [
                      {
                        id: "title",
                      },
                    ],
                  },
                  {
                    cells: [
                      {
                        id: "container-bar",
                      },
                    ],
                  },
                ],
              },
            ],
          },
          components: [
            {
              cell: "title",
              type: "HTML",
              elements: [
                {
                  tagName: "h1",
                  textContent: "Bridge List Report",
                },
              ],
            },
          ],
        },
        true
      );

      Highcharts.chart("container-bar", {
        chart: {
          type: "column",
        },
        title: {
          text: "No of Cameras per Bridge Model",
        },
        xAxis: {
          categories: dataArray.map((item) => item[0]),
          type: "category",
        },
        yAxis: {
          title: {
            text: "Number of Cameras",
          },
        },
        series: [
          {
            name: "Cam count per bridge",
            data: dataArray.map((item) => item[1]),
          },
        ],
      });
    </script>
  </body>
</html>
